<div class="card text-center">
    <div class="card-header">
        Keine Datensicherung gefunden!
    </div>
    <div class="card-body">
        <h5 class="card-title">Es wurde noch keine Datensicherung gefunden.</h5>
        <br/>
        <p class="card-text">Keine Software ist Perfekt. Aus sicherheitsgründen sollten Sie regelmäßig eine Datensicherung anlegen und Herunterladen!</p>
    </div>
</div>