{% extends 'index.html.twig' %}

{% block title %}Fossilien / Login{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col"></div>

            <div class="col">
                <p class="fs-2">Login</p>
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                <form action="{{ url('app_login') }}" method="post">
                    <div class="mb-3">
                        <label for="username">E-Mail:</label>
                        <input type="text" class="form-control" id="username" name="_username"
                               value="{{ last_username }}">
                    </div>
                    <div class="mb-3">
                        <label for="password">Passwort:</label>
                        <input type="password" class="form-control" id="password" name="_password">
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <button type="submit" class="btn btn-primary">Einloggen</button>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
