<div class="card text-center empty-fossil-search">
    <div class="card-header">
        Nicht gefunden!
    </div>
    <div class="card-body">
        <h5 class="card-title">Das Fossil konnte leider nicht gefunden werde.</h5>
        <br/>
        <p class="card-text">Um zurück zur Übersicht zu gelangen, klicke auf den Button:</p>
    </div>
    <div class="card-footer text-body-secondary">
        <a href="{{ url('app_admin_fossilList') }}" class="btn btn-primary">Zur Liste</a>
    </div>
</div>