<div class="card text-center">
    <div class="card-header">
        Nichts gefunden!
    </div>
    <div class="card-body">
        <h5 class="card-title">Es wurden leider keine Fossilien gefunden.</h5>
        <br/>
        <p class="card-text">Die konstellation der Filter scheinen keine Treffer zu ergeben!</p>


    </div>
    <div class="card-footer text-body-secondary">
        <a href="{{ url('app_admin_fossilList') }}" class="btn btn-primary">Filter zurücksetzen</a>
    </div>
</div>