<div class="card text-center">
    <div class="card-header">
        Nichts gefunden?
    </div>
    <div class="card-body">
        <h5 class="card-title">Es wurden leider noch keine Fossilien gefunden.</h5>
        <br/>
        <p class="card-text">Da wird es Zeit, herauszugehen um zu suchen. Wenn du was gefunden hast, komme wieder und klicke auf den Button:</p>


    </div>
    <div class="card-footer text-body-secondary">
        <a href="{{ url('app_admin_add_fossil') }}" class="btn btn-primary">Fossil hinzufügen</a>
    </div>
</div>