<div class="card text-center">
    <div class="card-header">
        Keine Kategorien oder Tags gefunden!
    </div>
    <div class="card-body">
        <h5 class="card-title">Es wurden leider keine Kategorien oder Tags gefunden.</h5>
        <br/>
        <p class="card-text">Um eine neue Kategorie oder ein neues Tag anzulegen, klicke auf den Button:</p>
    </div>
    <div class="card-footer text-body-secondary">
        <a href="{{ url('app_admin_tag_create_or_edit') }}" class="btn btn-primary">Tag / Kategorie hinzufügen</a>
    </div>
</div>